<a href="https://colab.research.google.com/github/KenshiTanaka/DEEP-Learning/blob/master/panda01/pandas01_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFremeの使い方

DataFrameはラベル付きの2次元の配列でいろいろな型を格納することができる

In [16]:
import pandas as pd

a = pd.DataFrame([[80,100,20,40,"合格"],
                  [100,20,10,20,"合格"],
                  [20,50,100,0,"合格"],
                  [70,33,21,74,"不合格"],
                  [35,55,87,160,"不合格"],
                  [12,35,1,0,"不合格"]])
a

     0    1    2    3    4
0   80  100   20   40   合格
1  100   20   10   20   合格
2   20   50  100    0   合格
3   70   33   21   74  不合格
4   35   55   87  160  不合格
5   12   35    1    0  不合格

In [17]:
a.index = ["ken","taro","hanako","jin","sachiko","yoko"] #行の名前を追加
a.columns = ["japanese","English","Math","Art","Result"]#列の名前を追加
a

         japanese  English  Math  Art Result
ken            80      100    20   40     合格
taro          100       20    10   20     合格
hanako         20       50   100    0     合格
jin            70       33    21   74    不合格
sachiko        35       55    87  160    不合格
yoko           12       35     1    0    不合格

In [18]:
print("列、行",a.shape) #行数と列数を表示

列、行 (6, 5)

In [20]:
a.head()#最初の5行表示

         japanese  English  Math  Art Result
ken            80      100    20   40     合格
taro          100       20    10   20     合格
hanako         20       50   100    0     合格
jin            70       33    21   74    不合格
sachiko        35       55    87  160    不合格

In [21]:

a.tail()#最後の5行を表示

         japanese  English  Math  Art Result
taro          100       20    10   20     合格
hanako         20       50   100    0     合格
jin            70       33    21   74    不合格
sachiko        35       55    87  160    不合格
yoko           12       35     1    0    不合格

In [22]:
a.describe()#基本的な統計量

         japanese     English        Math         Art
count    6.000000    6.000000    6.000000    6.000000
mean    52.833333   48.833333   39.833333   49.000000
std     35.555122   28.038664   42.404795   61.106464
min     12.000000   20.000000    1.000000    0.000000
25%     23.750000   33.500000   12.500000    5.000000
50%     52.500000   42.500000   20.500000   30.000000
75%     77.500000   53.750000   70.500000   65.500000
max    100.000000  100.000000  100.000000  160.000000

In [24]:
tr = a.loc["taro",:]#taroの行を取り出す
tr

japanese    100
English      20
Math         10
Art          20
Result       合格
Name: taro, dtype: object

In [25]:
ma = a.loc[:,"English"] #Englishの列を取り出す
ma

ken        100
taro        20
hanako      50
jin         33
sachiko     55
yoko        35
Name: English, dtype: int64

In [26]:
r = a.iloc[1:4,:2]#行1−3、列0−1
r

        japanese  English
taro         100       20
hanako        20       50
jin           70       33

In [27]:
a.loc["shiro"] = pd.Series([10,20,30,40,"正解"], index=["japanese","English","Math","Art","Result"], name="shiro") #Seriesを行として追加
a

         japanese  English  Math  Art Result
ken            80      100    20   40     合格
taro          100       20    10   20     合格
hanako         20       50   100    0     合格
jin            70       33    21   74    不合格
sachiko        35       55    87  160    不合格
yoko           12       35     1    0    不合格
shiro          10       20    30   40     正解

In [28]:
a["Science"] = [0,1,2,3,4,5,6]# 列をリストとして追加
a

         japanese  English  Math  Art Result  Science
ken            80      100    20   40     合格        0
taro          100       20    10   20     合格        1
hanako         20       50   100    0     合格        2
jin            70       33    21   74    不合格        3
sachiko        35       55    87  160    不合格        4
yoko           12       35     1    0    不合格        5
shiro          10       20    30   40     正解        6

In [31]:
#sort_valuesメゾットでソートをすることができる

a.sort_values(by="Math",ascending=False) #False数が大きい方、Ture数が小さい順にソートする

         japanese  English  Math  Art Result  Science
hanako         20       50   100    0     合格        2
sachiko        35       55    87  160    不合格        4
shiro          10       20    30   40     正解        6
jin            70       33    21   74    不合格        3
ken            80      100    20   40     合格        0
taro          100       20    10   20     合格        1
yoko           12       35     1    0    不合格        5